---
title: EpicFEL – A meetup for front-end developers
---

<main class="event">
  <%= partial 'info' %>
</main>

<section class="about">
  <div class="about__container">
    <h1 class="about__heading">
      About the event
    </h1>
    <p class="about__body">
      EpicFEL is a friendly, inclusive full-day conference built around the amazing front-end community in London. In its third year, the event is affordable, accessible, and will feature inspiring and insightful talks on a variety of topics.
    </p>
    <p class="about__body">
      See our <%= link_to 'code of conduct', '/conduct' %>.
    </p>
  </div>
</section>

<main class="event">
  <%= partial 'lineup', locals: {data: data.epic} %>
</main>

<section class="sponsor">
  <div class="sponsor__container">
    <h1 class="sponsor__heading">
      Made possible by our lovely sponsors
    </h1>

    <div class="sponsor__logos">
      <% link_to "http://madebymany.com", class: "sponsor__logo" do %>
        <%= image_tag "logos/madebymany-tweaked_black.png", alt: "Made by Many Logo", class: "sponsor__img" %>
      <% end %>
      <% link_to "http://zebrapeople.com/", class: "sponsor__logo" do %>
        <%= image_tag "logos/zebra_people.png", alt: "Zebra People Logo", class: "sponsor__img" %>
      <% end %>
      <% link_to "http://futurice.com/", class: "sponsor__logo" do %>
        <%= image_tag "logos/futurice.png", alt: "Futurice Logo", class: "sponsor__img" %>
      <% end %>
    </div>

  </div>
</section>
