<footer class="footer">
  <div class="footer__container">
    <section class="footer__location">
      <h3 class="footer__heading">
        Location
      </h3>

      <address id="address" class="footer__address">
        <a title="See a map" href="//www.google.co.uk/maps/place/Made+by+Many/@51.532436,-0.09949,17z/data=!3m1!4b1!4m2!3m1!1s0x48761b5e9962443f:0xe79a8a7cecb49c95">
          Made by Many<br>
          Diespeker Wharf<br>
          38 Graham Street<br>
          London N1 8JX
        </a>
      </address>
    </section>

    <section class="footer__find-on">
      <h3 class="footer__heading">
        Find on
      </h3>

      <ul class="footer__sites">
        <li class="footer__site">
          <%= link_to 'Twitter', '//twitter.com/frontendlondon',
                class: 'footer__link' %>
        </li>
        <li class="footer__site">
          <%= link_to 'YouTube', '//youtube.com/channel/UC1PDeJmj9CvLl77PYezDvWQ',
                class: 'footer__link' %>
        </li>
        <li class="footer__site">
          <%= link_to 'Lanyrd', '//lanyrd.com/series/front-end-london',
                class: 'footer__link' %>
        </li>
        <li class="footer__site">
          <%= link_to 'Instagram', '//instagram.com/frontendlondon',
                class: 'footer__link' %>
        </li>
        <li class="footer__site">
          <%= link_to 'Flickr', '//flickr.com/photos/92327288@N05',
                class: 'footer__link' %>
        </li>
      </ul>
    </section>

    <section class="footer__credit">
      <%= link_to image_tag('fel-light.svg', alt: 'Front-end London',
            class: 'footer__logo'), '//www.frontendlondon.co.uk' %>
      <%= link_to image_tag('mxm-light.svg', alt: 'Presented by Made by Many',
            class: 'footer__presented-by'), '//madebymany.com' %>
    </section>
  </div>
</footer>
