<% events = data.events.events %>

<header id="info" class="info">
  <div class="info__container">
    <div class="info__content">
      <h2 class="info__heading">
        <% if event_upcoming?(events) %>
          Next event
        <% else %>
          Last event
        <% end %>
      </h2>

      <time datetime="" class="info__date">
        <span class="info__date__day">
          <%= latest_event_date(events).strftime("%B") %>
          <%= latest_event_date(events).day %>
        </span>
        <span class="info__date__time">
          <%= latest_event_date(events).strftime("%H:%M") %> –
          <%= latest_event_date_end(events).strftime("%H:%M") %>
        </span>
      </time>

      <address class="info__location">
        <a href="#address" class="info__address-anchor">
          Made by Many, London
        </a>
      </address>
      <!--
      <% if event_upcoming?(events) %>
        <% if latest_event(events).registration_url.present? %>
          <a href="<%= latest_event(events).registration_url %>" target="_blank" class="info__tickets info__tickets--available">
            Get tickets
          </a>
        <% else %>
          <a href="#mailing-list" class="info__tickets info__tickets--unavailable">
            <span>
              <% if latest_event(events).tickets_released.present? %>
                Tickets available
                <%= tickets_released_date(events).day.ordinalize %> of
                <%= tickets_released_date(events).strftime("%B") %>
              <% else %>
                Tickets to be announced
              <% end %>
            </span>
          </a>
        <% end %>
      <% end %>
      -->
      CANCELLED
    </div>
  </div>
</header>
