<section id="lineup" class="lineup">
  <div class="lineup__container">
    <h2 class="lineup__heading">
      <% if event_upcoming?(data.events) && latest_event(data.events).speakers %>
        Speakers
      <% elsif latest_event(data.events).speakers %>
        Last time’s speakers
      <% end %>
    </h2>

    <ul class="lineup__speakers">
      <% latest_event(data.events).speakers.try(:each) do |speaker| %>
        <li class="lineup__speaker">
          <div class="speaker">
            <figure class="speaker__photo<%= " is-patrick" if speaker.twitter == "patrickhamann" %>">
              <% if speaker.pic.present? %>
                <%= image_tag speaker_image(speaker.pic), alt: speaker.name,
                  class: "speaker__photo__img" %>
              <% else %>
                <div class="speaker__photo__placeholder"></div>
              <% end %>
            </figure>

            <main class="speaker__info">
              <h3 class="speaker__name">
                <% if speaker.twitter.present? %>
                  <%= link_to speaker.name,
                        "//twitter.com/#{speaker.twitter}",
                        title: "#{speaker.name} on Twitter",
                        class: 'speaker__twitter' %>
                <% else %>
                  <%= speaker.name %>
                <% end %>
              </h3>

              <h2 class="speaker__topic">
                <%= speaker.topic %>
              </h2>

              <% if speaker.description.present? %>
                <%= simple_format(speaker.description, class: 'speaker__description') %>
              <% end %>
            </main>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
