<%

e = Chronic.parse(event.date)

%>

<div class="previous-month previous-month--<%= e.strftime('%B').downcase %>">

  <header class="previous-month-header previous-month-header--<%= e.strftime('%B').downcase %>">
    <h3><a href="#" class="previous-month-header__toggle" data-icon="+"><%= e.day.ordinalize %> <%= e.strftime('%B, %Y') %></a></h3>
  </header>

  <div class="previous-month-speakers speakers-list twelve-columns">

    <%=

    event_writeups = []

    event.writeups.each do |writeup|
      if writeup.writeup_url.present?
        event_writeups.push(link_to writeup.author, writeup.writeup_url)
      end
    end

    writeups = ''
    if event_writeups.any?
      writeups << 'Write-up'
      writeups << 's' unless event_writeups.length == 1
      writeups << ' from '
      writeups << event_writeups.join(', ').gsub(/,([^,]*)$/, ' and \1')
      writeups << '.'
      content_tag :div, writeups, :class => 'writeups'
    end

    %>

    <% event.speakers.each do |speaker| %>
      <div class="speaker column span-four">
        <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
          <div class="speaker-profile-img" data-icon="">
            <img src="images/speakers/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
          </div>
          <h3><%= speaker[:name] %></h3>
        </a>

        <em class="speaker-company"><%= speaker[:company] %></em>
        <% if speaker[:slides_url].present? %>
          <a class="speaker-slides" href="<%= speaker[:slides_url] %>"><%= speaker[:topic] %></a>
        <% else %>
          <div class="speaker-slides"><%= speaker[:topic] %></div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>