<div class="speakers-list twelve-columns">

  <% speakers = [
    {
      name: "Alex Roche",
      pic: "11/alex-roche.jpeg",
      company: "WeLikePie",
      twitter: "alexHacked",
      topic: "An introduction to Johnny Five and Breakout frameworks to write code to run on an Arduino. Not only that, but we can use them to connect to the web too. The practical side effect of this is that we can query web API's for information and create an internet of things in our own home."
    },
    {
      name: "Sébastien Cevey",
      pic: "11/seb.jpg",
      company: "The Guardian",
      twitter: "theefer",
      topic: "For some, the Web is the largest graph of information ever created. For others, it's an ubiquitous environment to run applications. Can it be both? By going back to key concepts such as URIs and HTML affordances, we will see how progressive enhancement and emerging semantics are all facets of the same drive to make our data available to humans and machines alike, whether you make static pages or SPAs. "
    },
    {
      name: "Ian Feather",
      pic: "11/ian-feather.jpeg",
      company: "Lonely Planet",
      twitter: "ianfeather",
      topic: "Working on large sites with many engineers requires some new skills outside of the trinity of HTML, CSS and JS. Unfortunately, the catch 22 is that often the only way to learn these skills is to actually work on a large site. We'll cover the fundamentals of Front End Operations and break down this barrier using the knowledge I've learnt over the past two years in a DevOps environment."
    }
  ] %>

  <% speakers.each do |speaker| %>
    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
        </div>
        <h3><%= speaker[:name] %></h3>
      </a>

      <em class="speaker-company"><%= speaker[:company] %></em>
      <p class="speaker-topic"><%= speaker[:topic] %></p>
    </div>
  <% end %>

</div>