<!--div class="speakers-list twelve-columns">

  <% event.speakers.each do |speaker| %>

    <% if speaker[:name].present? %>

    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
        </div>
        <cite class="speaker__name"><%= speaker[:name] %></cite>
      </a>

      <em class="speaker__company"><%= speaker[:company] %></em>
      <h3 class="speaker__topic-title"><%= speaker[:topic] %></h3>
      <p class="speaker__topic">
        <%= speaker[:description] %>
      </p>
    </div>

    <% else %>

    <div class="speaker column span-four speaker--tbc">
      <a class="speaker-profile">
        <div class="speaker-profile-img">
          <img src="images/speakers/anonymous.png" alt="" width="140" height="140">
        </div>
        <h3>To be announced</h3>
      </a>
    </div>

    <% end %>

  <% end %>

</div-->
