<div class="speakers-list twelve-columns">

  <% speakers = [
    {
      name: "James Cryer",
      pic: "10/james-cryer.jpg",
      company: "Huddle",
      twitter: "jamescryer",
      topic: "In the age of SPA’s and responsive layouts, the design of UI is more important than ever and yet woefully under supported by today’s development workflows and testing strategies.  We need to take a step back and reconsider what ‘unit’ testing really means and how automated visual regression testing tools like PhantomCSS can help us maintain and change the most fragile code in our websites, our CSS."
    },
    {
      name: "Tom Hamshere",
      pic: "10/tom-hamshere.jpg",
      company: "Twitter",
      twitter: "tbrd",
      topic: "A brief dive in to Flight, Twitter's component-based JavaScript framework, covering why Flight was created and how you can use it to create simple, scalable and performant web applications."
    },
    {
      name: "Ramon Lapenta",
      pic: "10/ramon-lapenta.jpg",
      company: "Cyber Duck",
      twitter: "ramono",
      topic: "This talk will break some of the myths regarding pre-processors and explain how they can help you be more efficient coding CSS, by showing examples and practical information about them, available tools, and some useful techniques to get you started and get the most out of them and put you in the right track."
    }
  ] %>

  <% speakers.each do |speaker| %>
    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/2013/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
        </div>
        <h3><%= speaker[:name] %></h3>
      </a>

      <em class="speaker-company"><%= speaker[:company] %></em>
      <p class="speaker-topic"><%= speaker[:topic] %></p>
    </div>
  <% end %>

</div>