<div class="speakers-list twelve-columns">

  <% event.speakers.each do |speaker| %>
    <div class="speaker column span-four">
      <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
        <div class="speaker-profile-img" data-icon="">
          <img src="images/speakers/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
        </div>
        <h3><%= speaker[:name] %></h3>
      </a>

      <em class="speaker-company"><%= speaker[:company] %></em>
      <p class="speaker-topic">
        <strong><%= speaker[:topic] %></strong><br>
        <%= speaker[:description] %>
      </p>
    </div>
  <% end %>

</div>