---
title: Code of Conduct – Front-end London
---

<article class="conduct">
  <div class="conduct__container">
    <h1 class="conduct__heading">
      Code of Conduct
    </h1>

    <section class="conduct__section">
      <p class="conduct__body">
        We are proud of the friendly community of people who attend Made by Many’s events. As an event participant, we trust that you will understand that this code of conduct is here to protect that atmosphere of inclusivity and ensure everyone continues to feel welcome and safe. We expect you to listen to and communicate with each other respectfully regardless of appearance or background.
      </p>
      <p class="conduct__body">
        All attendees, speakers, sponsors, staff and volunteers at our events are required to agree with the following code of conduct. Organisers will enforce this code throughout our events. We are expecting cooperation from all participants to help ensuring a safe, fun environment for everybody.
      </p>
      <p class="conduct__body">
        tl;dr: <a href="https://www.youtube.com/watch?v=N_yJFLvmjJY">Be excellent to each other</a>
      </p>
    </section>
    <section class="conduct__section">
      <h2 class="conduct__subheading">
        Need help?
      </h2>
      <p class="conduct__body">
        If you have any questions, comments, complaints or suggestions - please don't hesitate to contact us us via <%= mail_to 'fel@madebymany.co.uk' %> or <%= link_to '@frontendlondon', '//twitter.com/frontendlondon' %>. You can also phone the Made by Many studio on <%= link_to "+44 (0)20 8133 8510", "tel:+44-20-8133-8510" %> to speak to Andy, Ilya, Vivienne or Fiona or speak to any member of Made by Many team in person. We’ll listen to your concerns and take any necessary action promptly.
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        Summary:
      </h2>
      <p class="conduct__body">
        We’re dedicated to providing an inclusive and harassment-free experience for everyone attending Front-end London, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for Front-end London events, including venues, talks, workshops, parties, Twitter and other online media relating to the event. Anyone attending or participating in the event who violates these rules will be asked to leave immediately and can be banned from future Made by Many events (e.g: Front End London, EpicFEL, Small Talks, Lean Day London, summer parties, etc). 
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        The details:
      </h2>
      <p class="conduct__body">
        Harassment includes offensive verbal or written comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
      </p>
      <p class="conduct__body">
        We also have a general policy that we do not tolerate disruptive behavior including repeated interruption, inebriation (or similar intoxication), fighting and open aggression.
      </p>
      <p class="conduct__body">
        Participants asked to stop any inappropriate or disruptive behavior are expected to comply immediately. If a participant’s engagement is problematic, Front-end London organisers may take any action they deem appropriate, including warning the offender or expulsion from the event without a refund. 
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        What to do if you have a concern:
      </h2>
      <p class="conduct__body">
        If you are being harassed or feel uncomfortable, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff immediately on the email or phone number above, or speak to a Made by Many member of staff directly. 
      </p>
      <p class="conduct__body">
        Our team are here to listen to your concerns or questions, and you don’t have to make a formal report unless you want to. You do not have to give us details of the harassment. If you wish to report it, we will take details of the harassment and work with you to respond to the issue in a way that assists you in feeling safe. If necessary, our staff will help participants contact venue security (if at an external venue) or police, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. 
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        Where and when this code of conduct applies:
      </h2>
      <p class="conduct__body">
        We’d be pleased if you tried to be a nice human all the time. In the case of this code of conduct, we expect participants to follow these rules at our studio space, at any external venue and related social events (for example, post-event pub drinks, networking discussions, meet-ups and workshops). Any sponsors are also subject to this anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material.
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        Exceptions:
      </h2>
      <p class="conduct__body">
        Discussion or images related to sex, pornography, discriminatory language, or similar is welcome if it meets all of the following criteria:
      </p>
      <ol class="conduct__body">
        <li>The organisers have specifically granted permission in writing.</li>
        <li>It is necessary to the topic of discussion and no alternative exists.</li>
        <li>It is presented in a respectful manner.</li>
        <li>Attendees are warned in advance and respectfully given ample warning and opportunity to leave beforehand.</li>
      </ol>
      <p class="conduct__body">
        This exception specifically does not allow use of gratuitous sexual images as attention-getting devices or unnecessary examples.
      </p>
    </section>

    <section class="conduct__section">
      <h2 class="conduct__subheading">
        With thanks
      </h2>
      <p class="conduct__body">
        We’ve been influenced by and borrowed from <%= link_to "Nine Worlds", "https://nineworlds.co.uk/anti-harassment-policy" %> and <%= link_to "XOXO’s", "http://blog.xoxofest.com/conduct" %> codes of conduct. The latter was based on the work of <%= link_to "JSConf", "http://jsconf.com/codeofconduct.html" %>, <%= link_to "Geek Feminism", "http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" %>, <%= link_to "confcodeofconduct.com", "http://confcodeofconduct.com/" %>, and inspired by resources provided by <%= link_to "Ashe Dryden", "http://www.ashedryden.com/blog/codes-of-conduct-101-faq" %>. 
      </p>
    </section>
  </div>
</article>
