---
title: Front-end London - A meetup for front-end developers, hosted by Made by Many
---
<%

latest_event = data.events.events.first
latest_event_date = Chronic.parse(latest_event.date)
is_event_upcoming = ((latest_event_date + latest_event.duration*60*60) > Time.now)

%>
<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event" id="next-event-handle" data-eventdate="<%= latest_event_date %>">
        <%=
        if is_event_upcoming
          'Next event'
        else
          'Latest event'
        end
        %>
      </span>
      <span class="next-event-date"><%= latest_event_date.strftime('%-d') %><span class="date-ordinal"><%= latest_event_date.day.ordinalize.gsub(/\d/, '') %></span> <%= latest_event_date.strftime('%B, %Y') %></span>
      <span class="next-event-time"><%= latest_event_date.strftime('%-l%P') %>–<%= (latest_event_date + latest_event.duration*60*60).strftime('%-l:%M%P') %><span class="next-event-bullet">&bullet;</span> Islington</span>

    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is an <strong>evening meetup</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <%=

    if is_event_upcoming
      if latest_event.registration_url.present?
        "<a href=\"#{latest_event.registration_url}\" class=\"cta--primary\" target=\"_blank\">Get tickets</a>"
      else
        '<p><em>Tickets not yet released</em></p>'
      end
    end

    %>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>
    <%= partial "speakers", :locals => {:event => latest_event} %>
  </section>
</div>
