---
title: Front-end London - A New London Based Meetup for Front-end Developers, hosted by Made by Many
---

<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event">Next event</span>
      <span class="next-event-date">29<span class="date-ordinal">th</span> August, 2013</span>
      <span class="next-event-time">7pm - late <span class="next-event-bullet">&bullet;</span> Islington</span>
    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a <strong>free event</strong> hosted by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>We aim to cover a wide variety of topics such as CSS, Sass / LESS, RWD and JavaScript, with thought-provoking talks from a variety of speakers.</p>

    <a href="http://front-end-london-8.eventbrite.com/" class="cta--primary" target="_blank">Tickets 14th August</a>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>

    <div class="speakers-list twelve-columns">

      <% speakers = [
        {
          name: "Adam Onishi",
          pic: "08/adam.jpg",
          company: "Architect",
          twitter: "onishiweb",
          topic: "Web development has a plethora of tools to learn and evolving technologies to keep up with. It's easy to be overwhelmed. To combat this we should be focusing on the core skills of our field first, growing our skill set over time, adding tools and systems as we need them. The vibrant community in this industry makes that easy, with experienced developers always out there to help others in so many ways. Not forgetting that we can all be novices in some form so sharing with the community whatever your level will always be useful to someone at sometime."
        },
        {
          name: "Laura Kalbag",
          pic: "08/laura.jpg",
          company: "",
          twitter: "laurakalbag",
          topic: ""
        },
        {
          name: "Ben Howdle",
          pic: "08/ben.jpg",
          company: "KashFlow",
          twitter: "benhowdle",
          topic: "Without a doubt, jQuery has been tremendous in standardising browser quirks and abstracting more verbose native JavaScript methods. Since it's inception in 2006, the popular library has been a 'go to' for many a developer and designer. However, in recent years, native JavaScript has got all grown up and improved a lot of it's methods to be more concise and readable. I hope to give you a primer on modern JavaScript techniques for managing the DOM and AJAX without using jQuery!"
        }
      ] %>

      <% speakers.each do |speaker| %>
        <div class="speaker column span-four">
          <a class="speaker-profile" href="https://twitter.com/<%= speaker[:twitter] %>">
            <div class="speaker-profile-img" data-icon="">
              <img src="images/speakers/2013/<%= speaker[:pic] %>" alt="<%= speaker[:name] %>" width="140" height="140">
            </div>
            <h3><%= speaker[:name] %></h3>
          </a>

          <em class="speaker-company"><%= speaker[:company] %></em>
          <p class="speaker-topic"><%= speaker[:topic] %></p>
        </div>
      <% end %>

    </div>

  </section>
</div>
