---
title: Front-end London - A meetup for front-end developers, hosted by Made by Many
---
<%

latest_event = data.events.events.first
latest_event_date = Chronic.parse(latest_event.date)
release_date = Chronic.parse(latest_event.tickets_released)
is_event_upcoming = ((latest_event_date + latest_event.duration*60*60) > Time.now)

%>
<% content_for :in_header do %>
  <section class="site-header__secondary">
    <div class="next-event-details">
      <span class="next-event" id="next-event-handle" data-eventdate="<%= latest_event_date %>">
        <%=
        if is_event_upcoming
          'Next event'
        else
          'Latest event'
        end
        %>
      </span>
      <span class="next-event-date"><%= latest_event_date.strftime('%-d') %><span class="date-ordinal"><%= latest_event_date.day.ordinalize.gsub(/\d/, '') %></span> <%= latest_event_date.strftime('%B, %Y') %></span>
      <span class="next-event-time">Drinks from 6:30pm <span class="next-event-bullet">&bullet;</span> Exmouth Arms</span>

    </div>
  </section>
<% end %>

<div class="site-content site-width" role="main">

  <section class="introduction">

    <p>Front-end London is a free <strong>evening meetup</strong> run by <a href="http://madebymany.co.uk">Made by Many</a> that's dedicated to all aspects of front-end development.</p>

    <p>This month we’re trying something new: less talks, more pub. So you won’t need a ticket, just show up at <a href="https://www.google.co.uk/maps/place/Exmouth+Arms/@51.525762,-0.1097,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xdf0c653619c30112">Exmouth Arms</a> from 6:30pm onwards for interesting company and craft beers.</p>

    <p>We’ll be back to our usual scheduled programming on April 30.</p>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&amp;id=12bc29b23c" method="post" name="subscribe-form">
      <p>Subscribe to our mailing list for ticket reminders.</p>
      <input type="email" value="" name="EMAIL" class="subscribe-form__email" id="EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="embedded-subscribe" class="subscribe-form__button cta cta-transition">
    </form>

  </section>

  <% if (is_event_upcoming) %>
  <section class="speakers">
    <h2 class="divider-title">Speakers</h2>
    <%= partial "speakers", :locals => {:event => latest_event, :is_event_upcoming => is_event_upcoming} %>
  </section>
  <% end %>

</div>

<% content_for :small_cfp do %>
  <section class="cfp">
    <div class="site-width twelve-columns">
      <div class="column span-twelve">
        <h3>Want to speak at Front-end London?</h3>
        <p>
          We’re keen to hear from seasoned speakers and first-timers alike, so please do get in touch if you'd like to propose a talk or make a recommendation for a speaker. For more info check out our <a href="/call-for-speakers.html">call for speakers</a> or contact us through <a href="mailto:fel@madebymany.co.uk">fel@madebymany.co.uk</a> or <a href="http://twitter.com/frontendlondon">@frontendlondon</a>.
        </p>
      </div>
    </div>
  </section>
<% end %>
