---
title: Front-end London – A meetup for front-end developers
---

<main class="event">
  <%= partial 'info' %>
  <%= partial 'lineup', locals: {data: data.events} %>

  <footer class="event__footer">
    <div class="event__container">
      <%= link_to 'Previous events', '/archive', class: 'event__archive' %>
    </div>
  </footer>
</main>

<section class="about">
  <div class="about__container">
    <h1 class="about__heading">
      About the event
    </h1>

    <p class="about__body">
      We aim to provide a variety of interesting talks on peoples’ experiences
      in front-end development. Previously we’ve had talks on process, tooling,
      performance and technology, to name a few.
      Expect more of the same and lots more.
    </p>

    <p class="about__body">
      To kick off the evening there’s pizza (with veggie/vegan options)
      and refreshments (wine/beer/soft drinks/etc). All finished up
      with an obligatory trip to the local pub — if that’s your kind of thing.
    </p>

    <p class="about__body">
      See our <%= link_to 'code of conduct', '/conduct' %>.
    </p>
  </div>
</section>

<section id="mailing-list" class="mailing-list">
  <div class="mailing-list__container">
    <h2 class="mailing-list__heading">
      Mailing list
    </h2>

    <p class="mailing-list__body">
      Subscribe to our mailing list for ticket reminders and other event information.
    </p>

    <form action="http://madebymany.us6.list-manage.com/subscribe/post?u=2069e586d651ff50b3844c372&id=12bc29b23c" method="post" class="mailing-list__form">
      <input type="email" name="EMAIL" placeholder="Your email" class="mailing-list__email">
      <input type="submit" value="Subscribe" name="subscribe" class="mailing-list__submit">
    </form>
  </div>
</section>

<section id="speaking" class="speaking">
  <div class="speaking__container">
    <h2 class="speaking__heading">
      Speaking at Front-end London
    </h2>

    <p class="speaking__body">
      We would like to hear from first-time and seasoned speakers alike.
      Get in touch if you’d like to propose a talk or recommend a speaker.
      For more information contact us through <%= mail_to 'fel@madebymany.co.uk' %> or
      <%= link_to '@frontendlondon', 'http://twitter.com/frontendlondon' %>.
    </p>
  </div>
</section>
